{% extends "navbar.html" %}
<!doctype html>
<div class="container"
<div class="jumbotron">
	<head>
		<title> Add </title>
	</head>
{{ super() }}
{% block page %}
	<div class = "text-center">
	<ul class="list-group">
	{% for r in result %}	
		<h1>What do you want to add to?</h1>
			<li class="list-group-item"><a href={{ url_for('add_Bar')}}>Bars</li>
			<li class="list-group-item"><a href={{ url_for('add_Bills')}}>Bills</li>
			<li class="list-group-item"><a href={{ url_for('add_Consumables')}}>Consumables</li>
			<li class="list-group-item"><a href={{ url_for('add_Drinker')}}>Drinker</li>
			<li class="list-group-item"><a href={{ url_for('add_Frequents')}}>Frequents</li>
			<li class="list-group-item"><a href={{ url_for('add_Likes')}}>Likes</li>
			<li class="list-group-item"><a href={{ url_for('add_Pays')}}>Pays</li>
			<li class="list-group-item"><a href={{ url_for('add_Sells')}}>Sells</li>
	</ul>
	{% endfor %}

	{% for r1 in result1 %}
		<h1>Adding to Bars</h1>
		<form action="/submission" method="post">
			Please Fill Out All Fields<br>
			Bar Name:<br>
			<input type="text" name="Bar" required="required"><br>
			Casino name:<br>
			<input type="text" name="Casino" required="required"><br>
			Address:<br>
			<input type="text" name="Bar" required="required"><br>
			City:<br>
			<input type="text" name="Casino" required="required"><br>
			Hours:<br>
			Please Enter in 24 Hour Format<br>Ex: A bar opens at 3PM and closes at 3AM --> 15|00 -- 03|00 <br>
			Monday<br>
			<input type="text" name="hour_open" required="required" pattern="[0-23]"><input type="text" name="Min_open" required="required" pattern="[0-59]"> -- <input type="hour_closed" name="Bar" required="required" pattern="[0-23]"><input type="text" name="Min_closed" required="required" pattern="[0-59]"><br>
			Tuesday<br>
			<input type="text" name="hour_open" required="required" pattern="[0-23]"><input type="text" name="Min_open" required="required" pattern="[0-59]"> -- <input type="hour_closed" name="Bar" required="required" pattern="[0-23]"><input type="text" name="Min_closed" required="required" pattern="[0-59]"><br>
			Wednesday<br>
			<input type="text" name="hour_open" required="required" pattern="[0-23]"><input type="text" name="Min_open" required="required" pattern="[0-59]"> -- <input type="hour_closed" name="Bar" required="required" pattern="[0-23]"><input type="text" name="Min_closed" required="required" pattern="[0-59]"><br>
			Thursday<br>
			<input type="text" name="hour_open" required="required" pattern="[0-23]"><input type="text" name="Min_open" required="required" pattern="[0-59]"> -- <input type="hour_closed" name="Bar" required="required" pattern="[0-23]"><input type="text" name="Min_closed" required="required" pattern="[0-59]"><br>
			Friday<br>
			<input type="text" name="hour_open" required="required" pattern="[0-23]"><input type="text" name="Min_open" required="required" pattern="[0-59]"> -- <input type="hour_closed" name="Bar" required="required" pattern="[0-23]"><input type="text" name="Min_closed" required="required" pattern="[0-59]"><br>
			Saturday<br>
			<input type="text" name="hour_open" required="required" pattern="[0-23]"><input type="text" name="Min_open" required="required" pattern="[0-59]"> -- <input type="hour_closed" name="Bar" required="required" pattern="[0-23]"><input type="text" name="Min_closed" required="required" pattern="[0-59]"><br>
			Sunday<br>
			<input type="text" name="hour_open" required="required" pattern="[0-23]"><input type="text" name="Min_open" required="required" pattern="[0-59]"> -- <input type="hour_closed" name="Bar" required="required" pattern="[0-23]"><input type="text" name="Min_closed" required="required" pattern="[0-59]"><br>
			<br>
			Remember that these entries need to follow the proper rules or else they will not be added in.<br>
			<input type="submit" value="Submit">
			<input type = "reset">
		</form>
		<h2><a href = {{ url_for('add')}}>Go Back To Add</h2>
	{% endfor %}
	{% for r2 in result2 %}
		<h1>Adding to Bills</h1>
		<form action="/submission" method="post">
			Bar Name:<br>
			<input type="text" name="Bar" required="required"><br>
			Consumable Name:<br>
			<input type="text" name="Consumable" required="required"><br>
			Time Occurred:<br>
			Please Format With Day of the Week Before Time Occurred in 24 hour time<br>
			Monday -> 1, Tuesday ->2 etc...<br>
			Ex: Occurred on a thursday at 4:55PM --> 4|16|55<br>
			<input type="text" name="day" required="required"><input type="text" name="hour_occur" required="required"><input type="text" name="min_occur" required="required" ><br>
			Month and Day:<br>
			Ex: October 31st --> 10|31<br>
			<input type="text" name="month" required="required"><input type="text" name="day" required="required"><br>
			TransactionID:<br>
			<input type="text" name="TransID" required="required"><br>
			Tip:<br>
			<input type="number" name="tip" required="required"><br>
			Subtotal:<br>
			<input type="number" name="subtotal" required="required"><br>
			Total (includes 7% tax and tip):<br>
			<input type="number" name="total" required="required"><br>
			<br>
			Remember that these entries need to follow the proper rules or else they will not be added in.<br>
			Remeber to add to the Pays table as well for this information to pass quality checks.<br>
			<input type="submit" value="Submit">
			<input type = "reset">

		</form>
		<h2><a href = {{ url_for('add')}}>Go Back To Add</h2>
	{% endfor %}
	{% for r3 in result3 %}
		<h1>Adding to Consumables</h1>
		<form action="/submission" method="post">
			Consumable:<br>
			<input type="text" name="consumable" required="required"><br>
			Manufacturer:<br>
			<input type="text" name="manufacturer" required="required"><br>
			<br>
			<input type="submit" value="Submit">
			<input type = "reset">
		</form>
		<h2><a href = {{ url_for('add')}}>Go Back To Add</h2>
	{% endfor %}
	{% for r4 in result4 %}
		<h1>Adding to Drinker</h1>
		<form action="/submission" method="post">
			Name:<br>
			<input type="text" name="name" required="required"><br>
			Phone Number:<br>
			<input type="text" name="phone_num" required="required" pattern="[0-9]"" minlength="10" maxlength="10"><br>
			City:<br>
			<input type="text" name="city" required="required"><br>
			Address:<br>
			<input type="text" name="Address" required="required"><br>
			<br>
			<input type="submit" value="Submit">
			<input type = "reset">
		</form>
		<h2><a href = {{ url_for('add')}}>Go Back To Add</h2>
	{% endfor %}
	{% for r5 in result5 %}
		<h1>Adding to Frequents</h1>
		<form action="/submission" method="post">
			Drinker:<br>
			<input type="text" name="Drinker" required="required"><br>
			Bar:<br>
			<input type="text" name="Bar" required="required"><br>
			<br>
			<input type="submit" value="Submit">
			<input type = "reset">
		</form>
		<h2><a href = {{ url_for('add')}}>Go Back To Add</h2>
	{% endfor %}
	{% for r6 in result6 %}
		<h1>Adding to Likes</h1>
		<form action="/submission" method="post">
			Person:<br>
			<input type="text" name="Person" required="required"><br>
			Consumable:<br>
			<input type="text" name="Consumable" required="required"><br>
		<br>
		<input type="submit" value="Submit">
		<input type = "reset">
		</form>
		<h2><a href = {{ url_for('add')}}>Go Back To Add</h2>
	{% endfor %}
	{% for r7 in result7 %}
		<h1>Adding to Pays</h1>
		<form action="/submission" method="post">
			TransactionID:<br>
			<input type="text" name="TransactionId" required="required"><br>
			Name:<br>
			<input type="text" name="Name" required="required"><br>
			Bar:<br>
			<input type="text" name="Bar" required="required"><br>
			<br>
			Remeber to add to the bills table as well for this information to pass quality checks.<br>
			<input type="submit" value="Submit">
			<input type = "reset">
		</form>
		<h2><a href = {{ url_for('add')}}>Go Back To Add</h2>
		{% endfor %}
	{% for r8 in result8 %}
		<h1>Adding to Sells</h1>
		<form action="/submission" method="post">
			Bar Name:<br>
			<input type="text" name="Bar" required="required"><br>
			Consu,able:<br> 
			<input type="text" name="Consumable" required="required"><br>
			Price:<br>
			<input type="number" name="price" required="required"><br>
			<br>
			Remeber that if you want to add something new that can be sold at different bars, the price must be consistent with the price constraints..<br>
			<br>
			<input type="submit" value="Submit">
			<input type = "reset">
		</form>
		<h2><a href = {{ url_for('add')}}>Go Back To Add</h2>
		{% endfor %}
	
	<h2><a href = {{ url_for('modify')}}>Go Back To Modify</h2>
</div>
</div>
</div>
{% endblock %}	