{% extends "navbar.html" %}
{% block page %}
	{{ super() }}
 <div class = "text-center">
  <h1>Drinkers and their info</h1>
  <h2>{{ text_title }}</h2>
	<ul class="list-group">	
		{% for r in result %}
			<li class="list-group-item"><a href="{{ url_for('info_on_drinker', drinker=r.values()[0])}}">{{r }}</li>
		{% endfor %}
		{% for r1 in result1 %}
			<li class="list-group-item">{{r1}}</li>
		{% endfor %}
		{% for r2 in result2 %}
			<li class="list-group-item">{{r2}}</li>
		{% endfor %}
    {% for r4 in result4 %}
    <li class="list-group-item">{{r4}}</li>
    {% endfor %}
	</ul>	
</div>

<div class = "container">
	<div class = "row">
 <div class = "text-center">
  <center><h1>{{ title1 }}</h1>
  </center>
</div>
</div>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
  <center>
     <div class = "row"><canvas id="chart" width="600" height="400"></canvas>
    <script>
      // bar chart data
      var barData = {
        labels : [
        {% for r in r2labels %}
        "{{ r }}",
        {% endfor %}
        ],
        datasets : [{
          fillColor: "rgba(151,187,205,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          data : [
          {% for r in r2data %}
          "{{ r }}",
          {% endfor %}
          ]
        }
        ]
      }
     // get bar chart canvas
     var mychart = document.getElementById("chart").getContext("2d");
     steps = 10
     max = "{{max1}}"
     // draw bar chart
     new Chart(mychart).Bar(barData, {
       scaleOverride: true,
       scaleSteps: steps,
       scaleStepWidth: Math.ceil(max / steps),
       scaleStartValue: 0,
       scaleShowVerticalLines: true,
       scaleShowGridLines : true,
       barShowStroke : true,
       scaleShowLabels: true
     }
     );
   </script>
 </div>
   </center>


<div class = "row">
 <div class = "text-center">
    <center><h1>{{ title2 }}</h1></center>
  </div>
</div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
  <center>
   <div class = "row"><canvas id="chart" width="600" height="400"></canvas>
    <script>
      // bar chart data
      var barData = {
        labels : [
        {% for r in r3labels %}
        "{{ r }}",
        {% endfor %}
        ],
        datasets : [{
          fillColor: "rgba(151,187,205,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          data : [
          {% for r in r3data %}
          "{{ r }}",
          {% endfor %}
          ]
        }
        ]
      }
     // get bar chart canvas
     var mychart = document.getElementById("chart").getContext("2d");
     steps = 10
     max = "{{max3}}"
     // draw bar chart
     new Chart(mychart).Bar(barData, {
       scaleOverride: true,
       scaleSteps: steps,
       scaleStepWidth: Math.ceil(max / steps),
       scaleStartValue: 0,
       scaleShowVerticalLines: true,
       scaleShowGridLines : true,
       barShowStroke : true,
       scaleShowLabels: true
     }
     );
      </script>
   </div>
   </center>
   </div>





{% endblock %}
