{% extends "navbar.html" %}
<!doctype html>

{{ super() }}
{% block page %}
<div class="container">
<div class=text-center">
<div class="jumbotron">

	<head>
		<title> Vegas BBDPLUS!</title>
	</head>
	<body>
		<h1>Welcome to Las Vegas</h1>
		<p>This is the home page for Tina Janulis and Gabriel Rodriguez' extended BarBeerDrinker schema.</p>
		<h2>Things to note</h2>
		<p>The navbar can be found at the top of every page you visit. The about page will tell you more about this project as well as our inspiration for some of the things you may find here.<br/>The pages dropdown menu will show you some premade pages for each major aspect to our project such as:</p>
		<ul>	
			<ul>Bars</ul>
			<ul>Consumables (Drinks or Food Items)</ul>
			<ul>Drinkers A.K.A. People</ul>
			<ul>and Casinos</ul>
		</ul>
	</body>
</div>
</div>
</div>
{% endblock %}	

