{% extends "navbar.html" %}
<!doctype html>
<div class="container">
<div class="jumbotron">
	<head>
		<title> Modifications!</title>
	</head>
{{ super() }}
{% block page %}
	<div class = "text-center">
	<ul class="list-group">	
		<h1>Modification Options</h1>
			<li class="list-group-item"><a href={{ url_for('add') }}>Add</li>
			<li class="list-group-item"><a href={{ url_for('update') }}>Update</li>
			<li class="list-group-item"><a href={{ url_for('delete') }}>Delete</li>
		<h2><a href = {{ url_for('hello_world')}}>Go Back</h2>
	</ul>
</div>
</div>
</div>
{% endblock %}	