{% extends "navbar.html" %}
<!doctype html>
<div class="container">
<div class="jumbotron">
	<head>
		<title> Write your own queries! </title>
	</head>
{{ super() }}
{% block page %}
{% for r in result %}
		<h1>Write your query below</h1>
		<form action="{{ url_for('query')}}" method="POST">
			Please Fill Out All Fields<br>
			SELECT:<br>
			<input type="text" name="Select" required="required"><br>
			FROM:<br>
			<input type="text" name="From" required="required"><br>
			WHERE:<br>
			<input type="text" name="where"><br>
			<br>
			<input type="submit" value="Submit">
			<input type = "reset">
		</form>
		<h2><a href = "{{ url_for('hello_world')}}">Go Back To Home</h2>
</div>
</div>
{% endfor %}
{% endblock %}