{% extends "navbar.html" %}
<!doctype html>
<div class="container"
<div class="jumbotron">
	<head>
		<title> Updates </title>
	</head>
{{ super() }}
{% block page %}
	<div class = "text-center">
	<ul class="list-group">	
	{% for r in result %}	
		<h1>What do you want to update?</h1>
			<li class="list-group-item"><a href="{{ url_for('update_Bars')}}">Bars</li>
			<li class="list-group-item"><a href="{{ url_for('update_Bills')}}">Bills</li>
			<li class="list-group-item"><a href="{{ url_for('update_Consumables')}}">Consumables</li>
			<li class="list-group-item"><a href="{{ url_for('update_Drinker')}}">Drinker</li>
			<li class="list-group-item"><a href="{{ url_for('update_Frequents')}}">Frequents</li>
			<li class="list-group-item"><a href="{{ url_for('update_Likes')}}">Likes</li>
			<li class="list-group-item"><a href="{{ url_for('update_Pays')}}">Pays</li>
			<li class="list-group-item"><a href="{{ url_for('update_Sells')}}"">Sells</li>
	</ul>
	{% endfor %}
	{% for r1 in result1 %}
		<h1>Updating Bars</h1><form action="{{ url_for('update_Bars')}}" method="post">
			Please Fill Out All Fields<br>If you do not want to change something please rewrite it in new text field<br>
			Old Bar Name:<br>
			<input type="text" name="old_Bar" required="required"><br>
			New Bar Name:<br>
			<input type="text" name="new_Bar" required="required"><br>
			Old Casino name:<br>
			<input type="text" name="old_Casino" required="required"><br>
			New Casino name:<br>
			<input type="text" name="new_Casino" required="required"><br>
			Old Address:<br>
			<input type="text" name="old_Address" required="required"><br>
			New Address:<br>
			<input type="text" name="new_Address" required="required"><br>
			Old City:<br>
			<input type="text" name="old_City" required="required"><br>
			New City:<br>
			<input type="text" name="new_City" required="required"><br>
			Hours:<br>
			Please Enter in 24 Hour Format<br>Ex: A bar opens at 3PM and closes at 3AM --> 15|00 -- 03|00 <br>
			Old Monday<br>
			<input type="number" name="old_m_hour_open" required="required" min=0 max=23 ><input type="number" name="old_m_Min_open" required="required" min=0 max=59> -- <input type="number" name="old_m_hour_closed" required="required"  min=0 max=23><input type="number" name="old_m_Min_closed" required="required" min=0 max=59><br>
			New Monday<br>
			<input type="number" name="new_m_hour_open" required="required" min=0 max=23 ><input type="number" name="new_m_Min_open" required="required" min=0 max=59> -- <input type="number" name="new_m_hour_closed" required="required"  min=0 max=23><input type="number" name="new_m_Min_closed" required="required" min=0 max=59><br>
			Old Tuesday<br>
			<input type="number" name="old_m_hour_open" required="required" min=0 max=23 ><input type="number" name="old_m_Min_open" required="required" min=0 max=59> -- <input type="number" name="old_m_hour_closed" required="required"  min=0 max=23><input type="number" name="old_m_Min_closed" required="required" min=0 max=59><br>
			New Tuesday<br>
			<input type="number" name="new_m_hour_open" required="required" min=0 max=23 ><input type="number" name="new_m_Min_open" required="required" min=0 max=59> -- <input type="number" name="new_m_hour_closed" required="required"  min=0 max=23><input type="number" name="new_m_Min_closed" required="required" min=0 max=59><br>
			Old Wednesday<br>
			<input type="number" name="old_m_hour_open" required="required" min=0 max=23 ><input type="number" name="old_m_Min_open" required="required" min=0 max=59> -- <input type="number" name="old_m_hour_closed" required="required"  min=0 max=23><input type="number" name="old_m_Min_closed" required="required" min=0 max=59><br>
			New Wednesday<br>
			<input type="number" name="new_m_hour_open" required="required" min=0 max=23 ><input type="number" name="new_m_Min_open" required="required" min=0 max=59> -- <input type="number" name="new_m_hour_closed" required="required"  min=0 max=23><input type="number" name="new_m_Min_closed" required="required" min=0 max=59><br>
			Old Thursday<br>
			<input type="number" name="old_m_hour_open" required="required" min=0 max=23 ><input type="number" name="old_m_Min_open" required="required" min=0 max=59> -- <input type="number" name="old_m_hour_closed" required="required"  min=0 max=23><input type="number" name="old_m_Min_closed" required="required" min=0 max=59><br>
			New Thursday<br>
			<input type="number" name="new_m_hour_open" required="required" min=0 max=23 ><input type="number" name="new_m_Min_open" required="required" min=0 max=59> -- <input type="number" name="new_m_hour_closed" required="required"  min=0 max=23><input type="number" name="new_m_Min_closed" required="required" min=0 max=59><br>
			Old Friday<br>
			<input type="number" name="old_m_hour_open" required="required" min=0 max=23 ><input type="number" name="old_m_Min_open" required="required" min=0 max=59> -- <input type="number" name="old_m_hour_closed" required="required"  min=0 max=23><input type="number" name="old_m_Min_closed" required="required" min=0 max=59><br>
			New Friday<br>
			<input type="number" name="new_m_hour_open" required="required" min=0 max=23 ><input type="number" name="new_m_Min_open" required="required" min=0 max=59> -- <input type="number" name="new_m_hour_closed" required="required"  min=0 max=23><input type="number" name="new_m_Min_closed" required="required" min=0 max=59><br>
			Old Saturday<br>
			<input type="number" name="old_m_hour_open" required="required" min=0 max=23 ><input type="number" name="old_m_Min_open" required="required" min=0 max=59> -- <input type="number" name="old_m_hour_closed" required="required"  min=0 max=23><input type="number" name="old_m_Min_closed" required="required" min=0 max=59><br>
			New Saturday<br>
			<input type="number" name="new_m_hour_open" required="required" min=0 max=23 ><input type="number" name="new_m_Min_open" required="required" min=0 max=59> -- <input type="number" name="new_m_hour_closed" required="required"  min=0 max=23><input type="number" name="new_m_Min_closed" required="required" min=0 max=59><br>
			Old Sunday<br>
			<input type="number" name="old_m_hour_open" required="required" min=0 max=23 ><input type="number" name="old_m_Min_open" required="required" min=0 max=59> -- <input type="number" name="old_m_hour_closed" required="required"  min=0 max=23><input type="number" name="old_m_Min_closed" required="required" min=0 max=59><br>
			New Sunday<br>
			<input type="number" name="new_m_hour_open" required="required" min=0 max=23 ><input type="number" name="new_m_Min_open" required="required" min=0 max=59> -- <input type="number" name="new_m_hour_closed" required="required"  min=0 max=23><input type="number" name="new_m_Min_closed" required="required" min=0 max=59><br>
			Remember that these entries need to follow the proper rules or else they will not be updated in.<br>
			<input type="submit" value="Submit">
			<input type = "reset">
		</form>
		<h2><a href = {{ url_for('update')}}>Go Back To Update</h2>
	{% endfor %}
	{% for r2 in result2 %}
		<h1>Updating Bills</h1>
		<form action="{{ url_for('update_Bills')}}" method="post">
			Please Fill Out All Fields<br>If you do not want to change something please rewrite it in new text field<br>
			Old Bar Name:<br>
			<input type="text" name="old_Bar" required="required"><br>
			New Bar Name:<br>
			<input type="text" name=" new_Bar" required="required"><br>
			Old Consumable Name:<br>
			<input type="text" name="old_Consumable" required="required"><br>
			New Consumable Name:<br>
			<input type="text" name="new_Consumable" required="required"><br>
			Day and Time Occurred:<br>
			Please Format With Day of the Week Before Time Occurred in 24 hour time<br>
			Monday -> 1, Tuesday ->2 etc...<br>
			Ex: Occurred on a thursday at 4:55PM --> 4|16|55<br>
			Old Time:<br>
			<input type="number" name="old_day" required="required" min=0 max=7><input type="number" name="old_hour_occur" required="required" min=0, max=23><input type="number" name="old_min_occur" required="required" min=0 max=59><br>
			New Time:<br>
			<input type="number" name="new_day" required="required" min=0 max=7><input type="number" name="new_hour_occur" required="required" min=0, max=23><input type="number" name="new_min_occur" required="required" min=0 max=59><br>
			Month and Day:<br>
			Ex: May 9th --> 05|09<br>
			Old Date:
			<input type="number" name="old_month" required="required" min=1 max=12><input type="number" name="old_day" required="required" min=1 max=31><br>
			New Date:
			<input type="number" name="new_month" required="required" min=1 max=12><input type="number" name="new_day" required="required" min=1 max=31><br>
			Old TransactionID:<br>
			<input type="number" name="old_TransID" required="required"><br>
			New TransactionID:<br>
			<input type="number" name="new_TransID" required="required"><br>
			Old Tip:<br>
			<input type="number" name="old_tip" required="required"><br>
			New Tip:<br>
			<input type="number" name="new_tip" required="required"><br>
			Old Subtotal:<br>
			<input type="number" name="old_subtotal" required="required"><br>
			New Subtotal:<br>
			<input type="number" name="new_subtotal" required="required"><br>
			Old Total (includes 7% tax and tip):<br>
			<input type="number" name="old_total" required="required"><br>
			New Total (includes 7% tax and tip):<br>
			<input type="number" name="new_total" required="required"><br>
			<br>
			Remember that these entries need to follow the proper rules or else they will not be added in.<br>
			Remeber to update the Pays table as well for this information to pass quality checks.<br>
			<input type="submit" value="Submit">
			<input type = "reset">
		</form>		
		<h2><a href = "{{ url_for('update')}}">Go Back To Update</h2>
	{% endfor %}
	{% for r3 in result3 %}
		<h1>Updating Consumables</h1>
		<form action="{{ url_for('update_Consumables')}}" method="POST">
			Please Fill Out All Fields<br>
			Old Consumable:<br>
			<input type="text" name="old_consumable" required="required"><br>
			New Consumable:<br>
			<input type="text" name="new_consumable" required="required"><br>
			Old Manufacturer:<br>
			<input type="text" name="old_manufacturer" required="required"><br>
			New Manufacturer:<br>
			<input type="text" name="new_manufacturer" required="required"><br>
			<br>
			<input type="submit" value="Submit">
			<input type = "reset">
		</form>
		<h2><a href = "{{ url_for('update')}}">Go Back To Update</h2>
	{% endfor %}
	{% for r4 in result4 %}
		<h1>Updating Drinker</h1>
		<form action="{{ url_for('update_Drinker')}}" method="post">
			Please Fill Out All Fields<br>
			Old Name:<br>
			<input type="text" name="old_name" required="required"><br>
			New Name:<br>
			<input type="text" name="new_name" required="required"><br>
			Old Phone Number:<br>
			<input type="text" name="old_phone_num" required="required" pattern="[0-9]{10}"><br>
			New Phone Number:<br>
			<input type="text" name="new_phone_num" required="required" pattern="[0-9]{10}"><br>
			Old City:<br>
			<input type="text" name="old_city" required="required"><br>
			New City:<br>
			<input type="text" name="new_city" required="required"><br>
			Old Address:<br>
			<input type="text" name="old_Address" required="required"><br>
			New Address:<br>
			<input type="text" name="new_Address" required="required"><br>
			<br>
			<input type="submit" value="Submit">
			<input type = "reset">
		</form>
		<h2><a href = "{{ url_for('update')}}">Go Back To Update</h2>
	{% endfor %}
	{% for r5 in result5 %}
		<h1>Updating Frequents</h1>
		<form action="{{ url_for('update_Frequents')}}" method="post">
			Please Fill Out All Fields<br>
			Old Drinker:<br>
			<input type="text" name="old_Drinker" required="required"><br>
			New Drinker:<br>
			<input type="text" name="new_Drinker" required="required"><br>
			Old Bar:<br>
			<input type="text" name="old_Bar" required="required"><br>
			New Bar:<br>
			<input type="text" name="new_Bar" required="required"><br>
			<br>
			Remember that you need a drinker and a bar for these to work, so if you are using new information make sure to add those first.<br>
			<input type="submit" value="Submit">
			<input type = "reset">
		</form>
		<h2><a href = {{ url_for('update')}}>Go Back To Update</h2>
	{% endfor %}
	{% for r6 in result6 %}
		<h1>Updating Likes</h1>
		<form action="{{ url_for('update_Likes')}}" method="post">
			Please Fill Out All Fields<br>
			Old Person:<br>
			<input type="text" name="old_Person" required="required"><br>
			New Person:<br>
			<input type="text" name="new_Person" required="required"><br>
			Old Consumable:<br>
			<input type="text" name="old_Consumable" required="required"><br>
			New Consumable:<br>
			<input type="text" name="new_Consumable" required="required"><br>
			<br>
			Remember that you need a drinker and a beer for this to work, so if you are using new information make sure to add those first.<br>
			<input type="submit" value="Submit">
			<input type = "reset">
		</form>
		<h2><a href = {{ url_for('update')}}>Go Back To Update</h2>
	{% endfor %}
	{% for r7 in result7 %}
		<h1>Updating Pays</h1>
		<form action="{{ url_for('update_Pays')}}" method="post">
			Please Fill Out All Fields<br>
			Old TransactionID:<br>
			<input type="text" name="old_TransactionId" required="required"><br>
			New TransactionID:<br>
			<input type="text" name="new_TransactionId" required="required"><br>
			Old Name:<br>
			<input type="text" name="old_Name" required="required"><br>
			New Name:<br>
			<input type="text" name="new_Name" required="required"><br>
			Old Bar:<br>
			<input type="text" name="old_Bar" required="required"><br>
			New Bar:<br>
			<input type="text" name="new_Bar" required="required"><br>
			<br>
			Remeber to update the bills table first for this information to pass quality checks.<br>
			<input type="submit" value="Submit">
			<input type = "reset">
		</form>
		<h2><a href = "{{ url_for('update')}}">Go Back To Update</h2>
	{% endfor %}
	{% for r8 in result8 %}
		<h1>Updating Sells</h1>
		<form action="{{ url_for('update_Sells')}}" method="POST">
			Please Fill Out All Fields<br>
			Old Bar Name:<br>
			<input type="text" name="old_Bar" required="required"><br>
			New Bar Name:<br>
			<input type="text" name="new_Bar" required="required"><br>
			Old Consumable:<br> 
			<input type="text" name="old_Consumable" required="required"><br>
			New Consumable:<br> 
			<input type="text" name="new_Consumable" required="required"><br>
			Old Price:<br>
			<input type="number" name="old_price" required="required"><br>
			New Price:<br>
			<input type="number" name="new_price" required="required"><br>
			<br>
			Remeber that if you want to update something new that can be sold at different bars, the price must be consistentently less than, greater than, or equal to the other beers at other bars.<br>
			<br>
			<input type="submit" value="Submit">
			<input type = "reset">
		</form>
		<h2><a href = "{{ url_for('update')}}">Go Back To Update</h2>
	{% endfor %}
		<h2><a href = "{{ url_for('modify')}}">Go Back</h2>
</div>
</div>
</div>
{% endblock %}	